.wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-size: 38px;
  text-align: center;
  margin: 0 0 65px 0;
}
.count {
  cursor: pointer;
  font-size: 22px;
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 35px;
  &:active {
    color: red;
  }
}

.links {
  border: 1px solid #fff;
  padding: 35px 5px;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 35px;
}
.link {
  color: #000;
  background-color: #fff;
  font-size: 18px;
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  &:hover {
    color: blue;
  }
}
